@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.transition-width {
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.sidebar-expanded {
  width: 16rem; /* w-64 */
}

.sidebar-collapsed {
  width: 5rem; /* w-20 */
}